<div>
  <div class="alert alert-danger" ng-if="!errorFormSchema">Error resolving form schema</div>
  <div class="alert alert-danger" ng-if="!errorSchema">Error resolving message schema</div>

  <div class="form-group" ng-hide="availableSchemas.length == 1 || errorSchema || errorFormSchema">
    <label class="control-label" for="selected-schema-key">Message Type</label>
    <select
      ng-options="option.key as option.title group by option.group for option in availableSchemas"
      ng-model="selectedSchemaKey"
      name="selected-schema-key"
      class="form-control" ></select>
  </div>

  <form sf-schema="schema" sf-form="formSchema" sf-model="message"></form>
</div>
